<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.andrei.bbc_mindgym">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".GameActivity5"
            android:label="Fifth Game"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name=".GameActivity4"
            android:label="Fourth Game"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name=".GameActivity3"
            android:label="Third Game"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name=".GameActivity2"
            android:label="Second Game"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name=".GameActivity1"
            android:label="First Game"
            android:parentActivityName=".GamesActivity" />
        <activity
            android:name=".GamesActivity"
            android:label="Games"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TrackActivity"
            android:label="App Tracker"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalendarActivity"
            android:label="Calendar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TodoActivity"
            android:label="Todo List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlarmActivity"
            android:label="Alarms"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WorkoutsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuizzesActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>